.blog{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 1.25rem;
    padding: 1.25rem;
    margin: 1.25rem;
    border-width: 1px;
    border-radius: .25rem;
}

.blog__description{
    text-align: center;
    flex: 1 1 auto;
}